/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
/*$bkColor: #fff;
$themeMainColor: #df5946;*/
html {
  height: 100%;
  /*-------Collapsed dockbar styling-----*/
  /* ---------- Wrapper ---------- */ }
  html body {
    background-image: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #00c4ff), color-stop(50%, rgba(0, 196, 255, 0.3)), color-stop(100%, rgba(238, 231, 0, 0)));
    background-image: -webkit-linear-gradient(to bottom, #00c4ff, rgba(0, 196, 255, 0.3), rgba(238, 231, 0, 0));
    background-image: -moz-linear-gradient(to bottom, #00c4ff, rgba(0, 196, 255, 0.3), rgba(238, 231, 0, 0));
    background-image: -o-linear-gradient(to bottom, #00c4ff, rgba(0, 196, 255, 0.3), rgba(238, 231, 0, 0));
    background-image: linear-gradient(to bottom, #00c4ff, rgba(0, 196, 255, 0.3), rgba(238, 231, 0, 0));
    background-repeat: no-repeat;
    height: 100%;
    /*-------------------Admin Menus------------------------*/
    /*-------------------Add, Edit, and Preview Controls---------------------*/
    /*----------Return Body styling for popup menus back to normal-----------*/ }
    html body .nav-account-controls .user-avatar .dropdown-menu, html body .nav-account-controls .admin-links .dropdown-menu, html body .nav-account-controls .dockbar-user-notifications .dropdown-menu, html body .nav-account-controls .my-sites .dropdown-menu, html body .nav-account-controls .sign-in a {
      background-color: #df5946; }
    html body .nav-account-controls .user-avatar .dropdown-toggle, html body .nav-account-controls .admin-links .dropdown-toggle, html body .nav-account-controls .dockbar-user-notifications .dropdown-toggle, html body .nav-account-controls .my-sites .dropdown-toggle, html body .nav-account-controls .sign-in a {
      background-color: #df5946; }
      html body .nav-account-controls .user-avatar .dropdown-toggle:hover, html body .nav-account-controls .admin-links .dropdown-toggle:hover, html body .nav-account-controls .dockbar-user-notifications .dropdown-toggle:hover, html body .nav-account-controls .my-sites .dropdown-toggle:hover, html body .nav-account-controls .sign-in a:hover {
        background-color: #00C4FB; }
    html body .nav-add-controls #_145_addPanel, html body .nav-add-controls #_145_previewPanel, html body .nav-add-controls #_145_editLayoutPanel {
      background-color: #df5946; }
      html body .nav-add-controls #_145_addPanel:hover, html body .nav-add-controls #_145_previewPanel:hover, html body .nav-add-controls #_145_editLayoutPanel:hover {
        background-color: #00C4FB; }
    html body .nav-add-controls .page-edit-controls, html body .nav-add-controls .site-add-controls, html body .nav-add-controls .page-preview-controls, html body .nav-add-controls .toggle-controls {
      border-radius: 6px; }
    html body.portal-popup {
      background-image: none; }
  html .dockbar .navbar-inner .container {
    background-color: #df5946; }
  html #wrapper {
    background-color: white;
    margin: 0 auto;
    max-width: 1003px;
    padding: 0;
    position: relative;
    /* ---------- Banner ---------- */
    /*------Content------*/
    /*---------- Footer ---------- */ }
    html #wrapper #banner {
      background-color: white;
      /* ---------- Main Navigation ---------- */ }
      html #wrapper #banner #heading {
        padding: 0 4%; }
        html #wrapper #banner #heading .site-title .logo {
          padding-bottom: 16px; }
        html #wrapper #banner #heading .page-title {
          color: #df5946;
          font-style: oblique;
          text-transform: uppercase; }
      html #wrapper #banner #navigation {
        background-color: #df5946;
        display: block;
        position: relative;
        z-index: 1; }
        html #wrapper #banner #navigation .active {
          background-color: #00C4FF; }
          html #wrapper #banner #navigation .active > a {
            color: #FFF; }
        html #wrapper #banner #navigation .dropdown-menu li {
          background: #00ACFF;
          border-width: 0;
          margin: 0;
          position: relative; }
          html #wrapper #banner #navigation .dropdown-menu li:after, html #wrapper #banner #navigation .dropdown-menu li:before {
            border-width: 0; }
          html #wrapper #banner #navigation .dropdown-menu li a {
            color: #FFF; }
            html #wrapper #banner #navigation .dropdown-menu li a:hover {
              background: rgba(0, 0, 0, 0) none repeat scroll 0 0; }
        html #wrapper #banner #navigation li {
          margin: 0 4px;
          padding: 15px 10px;
          position: absolute; }
          html #wrapper #banner #navigation li:hover {
            background-color: #00C4FF; }
            html #wrapper #banner #navigation li:hover .child-menu {
              display: block;
              margin-top: 0; }
            html #wrapper #banner #navigation li:hover a {
              color: #FFF;
              text-decoration: none; }
        html #wrapper #banner #navigation ul li:hover .child-menu {
          display: block;
          padding: 0; }
          html #wrapper #banner #navigation ul li:hover .child-menu li {
            background-color: #df5946; }
            html #wrapper #banner #navigation ul li:hover .child-menu li:hover {
              background-color: #00C4FB; }
          html #wrapper #banner #navigation ul li:hover .child-menu a {
            color: #FFF;
            margin: -10px;
            text-decoration: none; }
        html #wrapper #banner #navigation > ul > li {
          display: inline-block;
          font-size: 1.2em;
          position: relative; }
          html #wrapper #banner #navigation > ul > li a {
            color: #FFF;
            padding: 15px 10px; }
    html #wrapper #content {
      background-color: white;
      padding: 0px 20px;
      /* ---------- Carousel ---------- */
      /*------Activities------*/
      /*------Out of This World------*/
      /*------Reserve Button------*/
      /*--Portlet styles---*/
      /*---------Guestbook Portlet Styles------------*/ }
      html #wrapper #content .carousel {
        z-index: 0; }
      html #wrapper #content .img:hover {
        opacity: 0.5; }
      html #wrapper #content #columnLeft {
        font-size: 36px;
        line-height: 60px;
        text-align: center;
        color: #df5946; }
      html #wrapper #content #columnRight {
        font-size: 16px;
        line-height: 30px;
        color: #696969; }
      html #wrapper #content #reserveBtnWrapper {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 25px;
        width: 300px; }
        html #wrapper #content #reserveBtnWrapper #reserveBtn {
          background-color: #00C4FB;
          border-radius: 10px;
          color: #FFF;
          font-size: 1.5em;
          height: 62px;
          margin: 30px;
          padding: 10px 0; }
          html #wrapper #content #reserveBtnWrapper #reserveBtn:hover {
            background-color: #df5946; }
          html #wrapper #content #reserveBtnWrapper #reserveBtn a {
            border-radius: 10px;
            color: #FFF;
            padding: 9px 10px;
            text-decoration: none; }
      html #wrapper #content .portlet .portlet-title img {
        display: none; }
      html #wrapper #content .guestbook-portlet {
        background-color: #df5946;
        border: 2px solid #50A2F6;
        border-radius: 25px;
        padding: 30px;
        max-width: 100%;
        color: #FFF; }
        html #wrapper #content .guestbook-portlet .table th {
          background-color: #50A2F6; }
        html #wrapper #content .guestbook-portlet .table td {
          background-color: #FFF;
          color: #000; }
        html #wrapper #content .guestbook-portlet .portlet-title-text {
          display: block;
          font-size: 1.3em; }
        html #wrapper #content .guestbook-portlet .aui-search-bar .field {
          border-radius: 25px;
          margin-top: 10px; }
    html #wrapper footer {
      background-color: #df5946;
      padding: 35px; }
      html #wrapper footer .powered-by {
        color: #FFF;
        float: right;
        margin-top: 0; }
      html #wrapper footer .social-media-wrapper h2 {
        color: #FFF;
        text-align: center; }
      html #wrapper footer .social-media-wrapper li {
        border-radius: 6px;
        display: inline-block;
        font-size: 31px;
        margin-top: 11px;
        padding: 3px; }
        html #wrapper footer .social-media-wrapper li a {
          border-radius: 6px;
          color: #FFF;
          padding: 7px 8px; }
          html #wrapper footer .social-media-wrapper li a:hover {
            text-decoration: none; }
      html #wrapper footer .social-media-wrapper ul {
        margin: auto;
        text-align: center; }
        html #wrapper footer .social-media-wrapper ul li div {
          border: 1px solid #CD4023;
          border-radius: 6px;
          height: 39px;
          padding-top: 7px;
          width: 44px; }
          html #wrapper footer .social-media-wrapper ul li div:hover {
            border-bottom: 1px solid white; }
        html #wrapper footer .social-media-wrapper ul li #facebook {
          background-color: #3C5998; }
        html #wrapper footer .social-media-wrapper ul li #twitter {
          background-color: #34A9E3; }
        html #wrapper footer .social-media-wrapper ul li #linked-in {
          background-color: #0C2C5B; }
        html #wrapper footer .social-media-wrapper ul li #youtube {
          background-color: #CF3327; }
        html #wrapper footer .social-media-wrapper ul li #google-plus {
          background-color: #DA4835; }

/*-------responsive-------*/
@media (max-width: 979px) {
  html #wrapper #banner #navigation {
    display: none;
    position: relative; }

  .aui * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .aui body {
    background-image: none; }
  .aui .carousel {
    display: none; }
  .aui #wrapper {
    margin: 0;
    padding: 0;
    position: relative; }
    .aui #wrapper #banner {
      position: relative;
      padding-bottom: 0;
      padding-top: 0; }
      .aui #wrapper #banner #heading {
        bottom: 100%;
        left: -19px;
        margin-top: 0;
        position: absolute;
        top: -70px; }
        .aui #wrapper #banner #heading .site-title {
          font-size: 26px; }
          .aui #wrapper #banner #heading .site-title img {
            height: 60px;
            width: auto; }
          .aui #wrapper #banner #heading .site-title .logo {
            height: 35px;
            width: auto;
            top: 0; }
        .aui #wrapper #banner #heading .page-title {
          padding-top: 20px; }
      .aui #wrapper #banner #navigation {
        display: none;
        position: relative; }
        .aui #wrapper #banner #navigation.open {
          display: block;
          margin-top: 5px; }
          .aui #wrapper #banner #navigation.open .navbar-inner {
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            border-radius: 3px;
            padding: 10px; }
            .aui #wrapper #banner #navigation.open .navbar-inner .nav-collapse {
              height: auto;
              overflow: visible; }
          .aui #wrapper #banner #navigation.open li {
            width: 100%;
            padding: 0;
            margin: 0;
            text-align: center; }
            .aui #wrapper #banner #navigation.open li .dropdown-menu {
              position: relative; }
          .aui #wrapper #banner #navigation.open ul {
            margin: 0; }
            .aui #wrapper #banner #navigation.open ul > li {
              display: inline-block; }
            .aui #wrapper #banner #navigation.open ul li a {
              display: block;
              padding: 15px 0 5px 29px; }
            .aui #wrapper #banner #navigation.open ul li:hover .child-menu a {
              margin: 0; }
          .aui #wrapper #banner #navigation.open .child-menu {
            width: 100%;
            margin: -2px;
            background-color: #df5946; }
            .aui #wrapper #banner #navigation.open .child-menu li {
              display: inline; }
            .aui #wrapper #banner #navigation.open .child-menu a {
              padding: 5px 6px 0 40px;
              color: #FFF;
              font-style: oblique; }
              .aui #wrapper #banner #navigation.open .child-menu a:hover {
                background-color: #00C4FF; }
        .aui #wrapper #banner #navigation .nav {
          margin: 0; }
    .aui #wrapper #content {
      padding-top: 70px; }
    .aui #wrapper #footer {
      max-width: 979px; }
  .aui .dockbar-split .dockbar, .aui .dockbar {
    float: right;
    height: 56px;
    position: relative;
    z-index: 401; }
    .aui .dockbar-split .dockbar .info-items, .aui .dockbar .info-items {
      height: auto;
      position: static;
      width: 300px; }
    .aui .dockbar-split .dockbar .navbar-inner, .aui .dockbar .navbar-inner {
      width: auto;
      height: 60px;
      box-shadow: none; }
      .aui .dockbar-split .dockbar .navbar-inner img, .aui .dockbar .navbar-inner img {
        width: 32px; }
      .aui .dockbar-split .dockbar .navbar-inner .btn-navbar, .aui .dockbar .navbar-inner .btn-navbar {
        background: transparent;
        border: none;
        float: left;
        font-size: 24px;
        padding: 12px 15px; }
        .aui .dockbar-split .dockbar .navbar-inner .btn-navbar:hover, .aui .dockbar .navbar-inner .btn-navbar:hover {
          background-color: #5BBAE8; }
        .aui .dockbar-split .dockbar .navbar-inner .btn-navbar.open, .aui .dockbar .navbar-inner .btn-navbar.open {
          background-color: #F5AF45; }
      .aui .dockbar-split .dockbar .navbar-inner .nav-account-controls, .aui .dockbar .navbar-inner .nav-account-controls {
        padding: 0 5px; }
        .aui .dockbar-split .dockbar .navbar-inner .nav-account-controls .user-avatar-image, .aui .dockbar .navbar-inner .nav-account-controls .user-avatar-image {
          display: none; }
      .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls, .aui .dockbar .navbar-inner .nav-add-controls {
        background: transparent;
        border-top-width: 0;
        position: static;
        z-index: 350;
        padding: 0 5px; }
        .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li, .aui .dockbar .navbar-inner .nav-add-controls > li {
          float: none;
          margin: 0;
          position: relative;
          transition: none;
          left: 0;
          top: 0; }
          .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li:hover, .aui .dockbar .navbar-inner .nav-add-controls > li:hover {
            left: 0; }
          .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li.toggle-controls a, .aui .dockbar .navbar-inner .nav-add-controls > li.toggle-controls a {
            /*clip: rect(auto auto auto auto);*/
            position: static;
            visibility: visible; }
          .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li .page-preview-controls, .aui .dockbar .navbar-inner .nav-add-controls > li .page-preview-controls {
            display: none; }
          .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a, .aui .dockbar .navbar-inner .nav-add-controls > li > a {
            background: transparent;
            text-align: left;
            white-space: nowrap; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a:hover, .aui .dockbar .navbar-inner .nav-add-controls > li > a:hover {
              background: #F3f3f3; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a [class^="icon-"], .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a [class^="icon-"], .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a [class*=" icon-"], .aui .dockbar .navbar-inner .nav-add-controls > li > a [class^="icon-"], .aui .dockbar .navbar-inner .nav-add-controls > li > a [class^="icon-"], .aui .dockbar .navbar-inner .nav-add-controls > li > a [class*=" icon-"] {
              font-size: 22px;
              margin-top: 0; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link, .aui .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link {
              background: transparent; }
              .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class^="icon-"], .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class^="icon-"], .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class*=" icon-"], .aui .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class^="icon-"], .aui .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class^="icon-"], .aui .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class*=" icon-"] {
                color: #FFF; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a .nav-item-label, .aui .dockbar .navbar-inner .nav-add-controls > li > a .nav-item-label {
              background: transparent;
              display: inline;
              left: 0;
              margin-left: 0;
              margin-top: 0;
              padding: 0;
              position: relative; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a:hover .nav-item-label, .aui .dockbar .navbar-inner .nav-add-controls > li > a:hover .nav-item-label {
              display: inline; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a .icon-caret-down, .aui .dockbar .navbar-inner .nav-add-controls > li > a .icon-caret-down {
              display: none; }
      .aui .dockbar-split .dockbar .navbar-inner .nav-collapse, .aui .dockbar .navbar-inner .nav-collapse {
        z-index: 400; }
        .aui .dockbar-split .dockbar .navbar-inner .nav-collapse.open, .aui .dockbar .navbar-inner .nav-collapse.open {
          overflow: visible; }
        .aui .dockbar-split .dockbar .navbar-inner .nav-collapse > .nav, .aui .dockbar .navbar-inner .nav-collapse > .nav {
          background: #009AE5;
          border-width: 0;
          left: auto;
          margin: 0;
          min-width: 160px;
          position: absolute;
          right: 0;
          z-index: 400; }
          .aui .dockbar-split .dockbar .navbar-inner .nav-collapse > .nav > li.dropdown .dropdown-menu li a, .aui .dockbar .navbar-inner .nav-collapse > .nav > li.dropdown .dropdown-menu li a {
            font-size: 16px;
            line-height: 32px; }
          .aui .dockbar-split .dockbar .navbar-inner .nav-collapse > .nav > li.dropdown.open > .dropdown-toggle, .aui .dockbar .navbar-inner .nav-collapse > .nav > li.dropdown.open > .dropdown-toggle {
            color: #FFF; }
          .aui .dockbar-split .dockbar .navbar-inner .nav-collapse > .nav > li > a, .aui .dockbar .navbar-inner .nav-collapse > .nav > li > a {
            color: #FFF;
            font-size: 16px;
            margin: 5px 0;
            padding: 6px 15px; }
            .aui .dockbar-split .dockbar .navbar-inner .nav-collapse > .nav > li > a:focus, .aui .dockbar-split .dockbar .navbar-inner .nav-collapse > .nav > li > a:hover, .aui .dockbar .navbar-inner .nav-collapse > .nav > li > a:focus, .aui .dockbar .navbar-inner .nav-collapse > .nav > li > a:hover {
              background-color: #5BBAE8; }
  .aui .portlet-dockbar {
    display: inline-block;
    width: 100%; }
  .aui .signed-out #_145_navAddControlsNavbarBtn {
    display: none; } }
/*-------------phone responsive--------------*/
@media (max-width: 767px) {
  .aui #wrapper {
    margin: 0 -20px; }
    .aui #wrapper #banner {
      padding-top: 70px; }
      .aui #wrapper #banner #heading {
        margin-top: -2em;
        margin-bottom: 0;
        position: relative;
        top: -30px;
        left: 0; }
        .aui #wrapper #banner #heading .site-title img {
          width: auto;
          height: 80px;
          margin-top: -13px; }
        .aui #wrapper #banner #heading .page-title {
          padding-top: 20px; }
      .aui #wrapper #banner #navigation.open {
        margin-top: -178px; }
    .aui #wrapper #content {
      margin-top: -70px; }
  .aui dockbar-split .dockbar, .aui .dockbar {
    float: none; } }

