.aui #navigation {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* 		background: #0E5561; */
  background-image: linear-gradient(#118ade 0%, #118ade 47%, #1273c7 100%);
  bottom: 0;
  position: fixed;
  right: -240px;
  top: 0;
  width: 180px;
  padding: 20px 30px;
  color: #FFF;
  overflow: auto;
  z-index: 401; }
  .aui #navigation ul {
    list-style: none;
    margin: 0; }
    .aui #navigation ul .child-menu {
      margin-left: 20px;
      font-size: 85%; }
  .aui #navigation a {
    color: #FFF;
    font-size: 110%;
    padding: 5px 2px;
    display: block; }
    .aui #navigation a:hover {
      text-decoration: inherit;
      color: #EEE; }
.aui .navigation-left #navigation {
  left: -240px;
  right: inherit; }
.aui .site-title {
  display: inline-block;
  vertical-align: middle;
  margin: 0; }
.aui .navigation-menu {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 26px;
  margin: 20px 15px 15px;
  cursor: pointer;
  vertical-align: middle; }
  .aui .navigation-menu .line1, .aui .navigation-menu .line2, .aui .navigation-menu .line3 {
    position: absolute;
    width: 100%;
    height: 4px;
    background: #999;
    top: 0; }
  .aui .navigation-menu .line2 {
    top: 8px; }
  .aui .navigation-menu .line3 {
    top: 16px; }
.aui hr {
  opacity: 0.5; }
.aui #breadcrumbs ul {
  padding: 0;
  font-size: 60%;
  background-color: transparent;
  margin-bottom: 15px; }
  .aui #breadcrumbs ul a {
    display: inline;
    text-shadow: none; }
.aui body.opened {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden; }
  @media (min-width: 980px) {
    .aui body.opened {
      border-right: 240px solid; } }
  .aui body.opened #navigation {
    right: 0; }
  .aui body.opened .navigation-menu .line1, .aui body.opened .navigation-menu .line2, .aui body.opened .navigation-menu .line3 {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    transform: rotate(45deg);
    top: 8px; }
  .aui body.opened .navigation-menu .line2 {
    transform: rotate(-45deg);
    top: 8px; }
  .aui body.opened .navigation-menu .line3 {
    transform: rotate(45deg);
    top: 8px; }
  .aui body.opened .back-nav {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: rgba(0, 0, 0, 0.2);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 300; }
  @media (min-width: 980px) {
    .aui body.opened.navigation-left {
      border-left: 240px solid;
      border-right: 0; } }
  .aui body.opened.navigation-left #navigation {
    left: 0;
    right: inherit; }
.aui .dockbar-split #wrapper {
  padding: 4em 5em 0; }
.aui #_145_navSiteNavigationNavbarBtn {
  display: none; }
@media (max-width: 979px) {
  .aui #navigation {
    display: block; } }

